<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
		<defaultDocument>
			<files>
				<remove value="index.php" />
				<add value="index.php" />
			</files>
		</defaultDocument>
		<modules runAllManagedModulesForAllRequests="true" />
		<rewrite>
			<rules>

        <rule name="Base" enabled="true" stopProcessing="true">
					<match url="^banners/$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" ignoreCase="false" />
			   		<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" ignoreCase="false" />
					</conditions>
					<action type="Rewrite" url="core/views/root.php" appendQueryString="true" />
				</rule>

<!--
				<rule name="Clients" enabled="true" stopProcessing="true">
					<match url="^clients/(.*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" ignoreCase="false" />
			   		<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" ignoreCase="false" />
					</conditions>
					<action type="Rewrite" url="core/views/client.php?c={R:1}" appendQueryString="true" />
				</rule>

				<rule name="Project" enabled="true" stopProcessing="true">
					<match url="^clients/(.*)/(.*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" ignoreCase="false" />
			   		<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" ignoreCase="false" />
					</conditions>
					<action type="Rewrite" url="core/views/project.php?c={R:1}&p={R:2}" appendQueryString="true" />
				</rule>

				<rule name="Project Banner" enabled="true" stopProcessing="true">
					<match url="^clients/(.*)/(.*)/(.*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" ignoreCase="false" />
			   		<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" ignoreCase="false" />
					</conditions>
					<action type="Rewrite" url="core/views/project.php?c={R:1}&p={R:2}&b={R:3}" appendQueryString="true" />
				</rule>
-->				
			</rules>
		</rewrite>
	</system.webServer>
	<system.web>
  	<customErrors mode="Off"/>
  </system.web>
</configuration>
