<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
		<defaultDocument>
			<files>
				<remove value="index.php" />
				<add value="index.php" />
			</files>
		</defaultDocument>
    <modules runAllManagedModulesForAllRequests="true" />
    <rewrite>
      <rules>
        <!--# Prevent directory listing-->
        <!--# Setup rewriting-->
        <!--# Error documents-->
        <!--# Redirect all except developer ip addresses to alternate domain -->
        <!--#RewriteCond %{REMOTE_ADDR}      !^1\.2\.3\.4$           # home ip address -->
        <!--#RewriteCond %{REMOTE_ADDR}      !^5\.6\.7\.8$           # work ip address -->
        <!--#RewriteRule .*                        /                            [R=302,L]-->
        <!--# Prevent hotlinking naar de swf files-->
        <!--# RewriteCond %{HTTP_REFERER}                                       !^$-->
        <!--# RewriteCond %{HTTP_REFERER}                                       !^http://(www\.)?bpform/.*$                                                                        [NC]-->
        <!--# RewriteRule \.(gif|jpg|js|css|swf)$                          -                                                                                                                                            [F]-->
        <!--# Redirect to clean root url-->
        <rule name="Imported Rule 1">
          <match url="^clients$" ignoreCase="false" />
          <action type="Rewrite" url="[R]" />
        </rule>
        <rule name="Imported Rule 2">
          <match url="^clients/$" ignoreCase="false" />
          <action type="Rewrite" url="[R]" />
        </rule>
        <rule name="Imported Rule 3" stopProcessing="true">
          <match url="^$" ignoreCase="false" />
          <action type="Rewrite" url="core/views/root.php" />
        </rule>
        <!--# Redirect to clean url for clients folders-->
        <rule name="Imported Rule 4">
          <match url="^clients/([^\./]+)$" ignoreCase="false" />
          <action type="Redirect" redirectType="Found" url="clients/{R:1}/" />
        </rule>
        <rule name="Imported Rule 5">
          <match url="^clients/([^\./]+)/$" ignoreCase="false" />
          <action type="Rewrite" url="core/views/client.php?c={R:1}" appendQueryString="false" />
        </rule>
        <!--# Redirect to clean project url-->
        <rule name="Imported Rule 6">
          <match url="^clients/([^\./]+)/([^\./]+)$" ignoreCase="false" />
          <action type="Redirect" redirectType="Found" url="clients/{R:1}/{R:2}/" />
        </rule>
        <rule name="Imported Rule 7" stopProcessing="true">
          <match url="^clients/([^\./]+)/([^\./]+)/$" ignoreCase="false" />
          <action type="Rewrite" url="core/views/project.php?c={R:1}&amp;p={R:2}" appendQueryString="false" />
        </rule>
        <!--# Redirect to clean banner url-->
        <rule name="Imported Rule 8">
          <match url="^clients/([^\./]+)/([^\./]+)/([^\./]+)$" ignoreCase="false" />
          <action type="Redirect" redirectType="Found" url="clients/{R:1}/{R:2}/{R:3}/" />
        </rule>
        <rule name="Imported Rule 9" stopProcessing="true">
          <match url="^clients/([^\./]+)/([^\./]+)/([^\./]+)/$" ignoreCase="false" />
          <action type="Rewrite" url="core/views/project.php?c={R:1}&amp;p={R:2}&amp;b={R:3}" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>    
	</system.webServer>
	<system.web>
  	<customErrors mode="Off"/>
  </system.web>
</configuration>
