@import "lib/bootstrap.less";

html, body {
	background: #fff url('../img/noise.png');
}

body {
	width: 1000px;
	margin: 0 auto;
}

#container {
  position: relative;
}

ul li {
	list-style-type: none;
}

h1{
  background: transparent url(../img/logo.png) no-repeat 10px center;
  margin-top: 10px;
	height: 120px;
	width: 120px;
	display: block;
	line-height: 25px;
	text-indent: -9999px;
}

#menu {
	height: 20px;
	line-height: 20px;
	padding: 10px;

	select {
		font-family: Monaco, Consolas, 'Courier New', Courier, monospace;
		margin-top: 2px;
		margin-left: 10px;
		width: 400px;
	}

  li .banner-url input {
    font-family: Monaco, Consolas, 'Courier New', Courier, monospace;
    text-shadow: 0 1px 0 #fff;
    line-height: 1.5;
  }

  p.bannerlist {
  	.clearfix;

		float: left;
		padding-top: 4px;
	}
}

#topmenu {
  .clearfix;

  position: absolute;
  right: 0;
  top: 0;
  margin-right: -1px;

  li{
    float: left;
    margin-left: 20px;
  
    #bannerversionslist {
      float: left;
      margin-left: 10px;
      width: 150px;
    }
    
    p.bannerversionslist {
      float: left;
    }
  
    .banner-url {
      background-color: #FAFAFF;
      border: 1px solid #D5D9E0;
      margin: 0 0.5em;
      padding: 0.2em 0.4em;
    
      input {
        background-color: #FAFAFF;
        font-size: 1.2em;
        border: 0 none;
        width: 400px;
        
        outline-color:-moz-use-text-color;
        outline-style:none;
        outline-width:medium;
      }
    }
  }
}

#projects {
  position: relative;

  .content{
		padding: 10px;

  	h2 {
      font-weight: 800;
      margin-bottom: 10px;
    }

    .projects-list {
      .clearfix;

    		.clearfix;

    		clear: both;

    		a, label {
					overflow: hidden;
				}		
				
    		a, label, em {
					display: block;
					float: left;
					height: 14px;
					padding: 5px 5px 5px 0;
				}

    		a {
          border: 0px;
          font-weight: 800;
        }	
    
        label {
          font-weight: bold;
          background: none;
        }						

        em{
          color: #aaa;
          font-family: Monaco, Consolas, 'Courier New', Courier, monospace;
        }
    }
  }
}
  
#banner {
	position: relative;

	.content{
		padding: 10px;
	}

	#tools{
    color: #fff;
    background: #ddd;
		position: absolute;
		padding: 0px 0px 5px 0px;
		height: 30px;
		overflow: hidden;
		top: 20px;
		right: 15px;
		width: 200px;

		ul {
			margin-top: 8px;
			margin-left: 0;

			li {
				margin-left: 10px;
			}
		}

		.content {
			padding-top: 0px;
		}

    .close{
      font-family: Consolas, 'Courier New', Courier, monospace;
      font-weight: 800;
      color: #aaa;
      text-align: center;
      display: block;
			height: 13px;
			position: absolute;
			top: 10px;
			right: 10px;
			width: 10px;
    }
  
    h3 {
      font-weight: 800;
      margin-bottom: 5px;
      padding-top: 0px;
    }
  
  }
}

#footer {
	color: #333;
	bottom: 0px;
	height: 30px;
	line-height: 20px;
	position: fixed;

  .content {
		padding: 5px;
	}
}

#flash {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
