body {
	position: relative;
}

.clear {
	clear: both;
	height: 0; 
}

h1{
	background: #f00 url(../img/logo.png) no-repeat center;
	background-position-x: 10px;
	height: 25px;
	line-height: 25px;
	padding: 10px;
	text-indent: -9999px;
}

#menu {
	height: 20px;
	line-height: 20px;
	padding: 10px;
}

	#menu p.bannerlist {
		float: left;
	}

	#menu select {
		float: left;
		margin-top: 2px;
		margin-left: 10px;
		width: 400px;
	}

	#topmenu {
		float: right;
	}

		#topmenu li{
			float: left;
			margin-left: 20px;
		}
		
			#topmenu li #bannerversionslist {
				float: left;
				margin-left: 10px;
				width: 150px;
			}
			
			#topmenu li p.bannerversionslist {
				float: left;
			}
		
			#topmenu li .banner-url {
				background-color: #FAFAFF;
				border: 1px solid #D5D9E0;
				margin: 0 0.5em;
				padding: 0.2em 0.4em;
			}
			
				#topmenu li .banner-url input {
					background-color: #FAFAFF;
					border: 0 none;
					width: 400px;
					
					outline-color:-moz-use-text-color;
					outline-style:none;
					outline-width:medium;
				}

			#topmenu li em {
			}
		
#banner, #projects {
	position: relative;
}

	#banner .content, #projects .content{
		padding: 10px;
	}
	
		#projects .content h2 {
			margin-bottom: 10px;
		}	
	
		#projects .content .projects-list {
			margin: 20px 0px 0px 20px;
		}
		
		#projects .content .projects-list li{
			clear: both;
		}
		
				#projects .content .projects-list li a,
				#projects .content .projects-list li label, 
				#projects .content .projects-list li em {
					display: block;
					float: left;
					height: 14px;
					padding: 5px;
				}
				
				#projects .content .projects-list li a, 
				#projects .content .projects-list li label{
					background: #f5f5f5;
					overflow: hidden;
					width: 200px;
				}		
				
				#projects .content .projects-list li label {
					background: none;
				}
				
				#projects .content .projects-list li em{
					margin-left: 20px;
				}				
	
	#banner #tools{
		background: #ddd;
		position: absolute;
		padding: 0px 0px 5px 0px;
		height: 30px;
		overflow: hidden;
		top: 0px;
		right: 15px;
		width: 200px;
	}
	
		#banner #tools .close{
			display: block;
			height: 10px;
			padding-top: 1px;
			position: absolute;
			top: 10px;
			right: 10px;
			width: 10px;
		}
	
		#banner #tools h3{
			margin-bottom: 5px;
		}	
		
			#banner #tools ul{

			}
			
				#banner #tools ul li{
					margin-left: 10px;
				}

	#flash {
		display: block;
		margin: 0 auto;
		margin-top: 50px;
	}
	
#footer {
	background: #f00;
	bottom: 0px;
	height: 30px;
	line-height: 20px;
	position: fixed;
	width: 100%;
	z-index: 12;
}

	#footer .content {
		padding: 5px;
	}